#alertx{

    width: 400px;
    position: fixed;
    transition: all .2s ease-out;
    top: 5rem;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    
}
#alerty{

    width: 400px;
    position: fixed;
    transition: all .2s ease-out;
    top: 5rem;
    left: 2rem;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}